<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\InventorDA.dll" stdoutLogEnabled="false" stdoutLogFile="\\?\%home%\LogFiles\stdout" hostingModel="inprocess">
        <environmentVariables>
          <environmentVariable name="FORGE_CLIENT_ID" value="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"/>
          <environmentVariable name="FORGE_CLIENT_SECRET" value="xxxxxxxxxxxxxxx"/>
          <environmentVariable name="FORGE_WEBHOOK_URL" value="https://inventordaflc.azurewebsites.net/"/>
          <environmentVariable name="FLC_TENANT" value="adskemeats"/>
          <environmentVariable name="FLC_USER" value="jobuser@fusion.rocks"/>
          <environmentVariable name="FLC_PRODUCTS_WSID" value="131"/>
          <environmentVariable name="FLC_ENQUIRIES_WSID" value="104"/>
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 96904392-1602-459f-a518-c56097c28422-->